@charset "UTF-8";

body > section {
	min-height: 100vh;
	height: auto;
}

.prod-info-wrap{
	border: 0px;
	height: auto;
}

.content-wrap h3 {
    margin: 10px 0 20px 0;
}

.form-group{
	width: 100%;
	height: 100px;
}

.a-prod-content{
	height: 150px;	
}

textarea[name=p_content]{
	height: 100px;
}

.form-group label{
	width: 100%;
	height: 40px;
	display: block;
	font-size: 20px;
}

.btn-submit{
	width: 100%;
}